doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title iBeengo Event
    link(href='./style/bootstrap.css', rel='stylesheet')
    link(href='./style/font-awesome.min.css', rel='stylesheet')
    link(href='./style/index.css', rel='stylesheet')
    script(src='./script/jquery-1.10.2.min.js')
    script(src='./script/bootstrap.min.js')
    script(src='./script/holder.js')
    //if lt IE 9
      script(src='../../docs-assets/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body
    .container
      .navbar.navbar-default(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') 熱門活動
            li
              a(href='#') 照片
            li
              a(href='#') 影片
            li
              a(href='#') What is walking tour？
          a.navbar-brand.navbar-right(href='#') iBeengo Events
      .row
        .col-md-4
          .highlight.highlight-box
            h2.title.text-success 24
            small 條的WALKING TOUR路線
            i.fa.fa-road.fa-5x.text-success
        .col-md-4
          .highlight.highlight-box
            h2.title.text-success 67
            small 場的WALKING TOUR經驗
            i.fa.fa-group.fa-5x.text-success
        .col-md-4
          .highlight.highlight-box
            h2.title.text-success 39999
            small 人的WALKING TOUR體驗
            i.fa.fa-plane.fa-5x.text-success
      #search-bar.highlight
        form.row
          .col-md-9
            .form-group
              .input-group
                input.form-control(type='text', placeholder='搜尋活動')
                span.input-group-btn
                  button.btn.btn-default(type='button') Search&excl;
          .col-md-3
            button.btn.btn-default(type='button') 單日
            button.btn.btn-default(type='button') 長途
            button.btn.btn-default(type='button') 派對
            button.btn.btn-default(type='button') 特色
      .action.highlight
        .thumb
          img(src='holder.js/260x170')
        .recommend
          i.fa.fa-star.fa-2x
          i.fa.fa-star.fa-2x
          i.fa.fa-star.fa-2x
          i.fa.fa-star-half-o.fa-2x
          i.fa.fa-star-o.fa-2x
        .subject 主題：九份芋圓一日遊
        .scenic 景點：九份．金瓜石
        .hot 人氣指數：99
        .join
          a.btn.btn-default.btn-lg.btn-success(href="action.html") 登記
      .action.highlight
        .thumb
          img(src='holder.js/260x170')
        .recommend
          i.fa.fa-star.fa-2x
          i.fa.fa-star.fa-2x
          i.fa.fa-star.fa-2x
          i.fa.fa-star-half-o.fa-2x
          i.fa.fa-star-o.fa-2x
        .subject 主題：平溪放天燈
        .scenic 景點：平溪．十分
        .hot 人氣指數：230
        .join
          a.btn.btn-default.btn-lg.btn-success(href="action.html") 登記